GA/server/aejb/data/wsdl/jbossxts.sar/ws-t11.war/wsarjtx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSARJTX" targetNamespace="http://schemas.arjuna.com/ws/2005/10/wsarjtx" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsarjtx="http://schemas.arjuna.com/ws/2005/10/wsarjtx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://schemas.arjuna.com/ws/2005/10/wsarjtx" xmlns="http://www.w3.org/2001/XMLSchema">
	    <complexType name="NotificationType">
		<sequence>
		    <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</sequence>
		<anyAttribute namespace="##other" processContents="lax"/>
	    </complexType>
	    <complexType name="ExceptionType">
		<sequence>
		    <element name="soapFaultType" type="string"/>
		    <element name="subCode" type="QName"/>
		    <element name="reason" type="string"/>
		    <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</sequence>
		<anyAttribute namespace="##other" processContents="lax"/>
	    </complexType>
	    <!-- Coordinator accepts -->
	    <element name="Complete" type="wsarjtx:NotificationType"/>
	    <element name="Close" type="wsarjtx:NotificationType"/>
	    <element name="Cancel" type="wsarjtx:NotificationType"/>
	    <!-- Participant accepts -->
	    <element name="Completed" type="wsarjtx:NotificationType"/>
	    <element name="Closed" type="wsarjtx:NotificationType"/>
	    <element name="Cancelled" type="wsarjtx:NotificationType"/>
	    <element name="Faulted" type="wsarjtx:NotificationType"/>
	    <element name="Fault" type="wsarjtx:ExceptionType"/>
	  </schema>
  </types>
  <message name="ClosedMessage">
    <part name="parameters" element="wsarjtx:Closed">
    </part>
  </message>
  <message name="CompletedMessage">
    <part name="parameters" element="wsarjtx:Completed">
    </part>
  </message>
  <message name="CloseMessage">
    <part name="parameters" element="wsarjtx:Close">
    </part>
  </message>
  <message name="FaultedMessage">
    <part name="parameters" element="wsarjtx:Faulted">
    </part>
  </message>
  <message name="CompleteMessage">
    <part name="parameters" element="wsarjtx:Complete">
    </part>
  </message>
  <message name="CancelMessage">
    <part name="parameters" element="wsarjtx:Cancel">
    </part>
  </message>
  <message name="FaultMessage">
    <part name="parameters" element="wsarjtx:Fault">
    </part>
  </message>
  <message name="CancelledMessage">
    <part name="parameters" element="wsarjtx:Cancelled">
    </part>
  </message>
  <portType name="TerminationParticipantPortType">
    <operation name="CompletedOperation">
      <input name="Completed" message="wsarjtx:CompletedMessage">
    </input>
    </operation>
    <operation name="ClosedOperation">
      <input name="Closed" message="wsarjtx:ClosedMessage">
    </input>
    </operation>
    <operation name="CancelledOperation">
      <input name="Cancelled" message="wsarjtx:CancelledMessage">
    </input>
    </operation>
    <operation name="FaultedOperation">
      <input name="Faulted" message="wsarjtx:FaultedMessage">
    </input>
    </operation>
    <operation name="FaultOperation">
      <input name="Fault" message="wsarjtx:FaultMessage">
    </input>
    </operation>
  </portType>
  <portType name="TerminationCoordinatorPortType">
    <operation name="CompleteOperation">
      <input name="Complete" message="wsarjtx:CompleteMessage">
    </input>
    </operation>
    <operation name="CloseOperation">
      <input name="Close" message="wsarjtx:CloseMessage">
    </input>
    </operation>
    <operation name="CancelOperation">
      <input name="Cancel" message="wsarjtx:CancelMessage">
    </input>
    </operation>
  </portType>
</definitions>
