GA/server/aejb/data/wsdl/jbossxts.sar/ws-t11.war/wsba-coordinator-completion-participant-binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsba="http://docs.oasis-open.org/ws-tx/wsba/2006/06">
  <wsdl:import namespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06" location="wsba.wsdl">
    </wsdl:import>
  <wsdl:binding name="BusinessAgreementWithCoordinatorCompletionParticipant_SOAPBinding" type="wsba:BusinessAgreementWithCoordinatorCompletionParticipantPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CompleteOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Complete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CloseOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Close" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Cancel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompensateOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Close" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FailedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Failed" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExitedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Exited" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotCompleted">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/NotCompleted" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StatusOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Status" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessAgreementWithCoordinatorCompletionParticipantService">
    <wsdl:port name="BusinessAgreementWithCoordinatorCompletionParticipantPortType" binding="wsba:BusinessAgreementWithCoordinatorCompletionParticipant_SOAPBinding">
      <soap:address location="http://127.0.0.1:8080/ws-t11/BusinessAgreementWithCoordinatorCompletionParticipantService"/>
    <wsaw:UsingAddressing required="true"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
