GA/server/aejb/data/wsdl/jbossxts.sar/ws-t11.war/wsba.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsba="http://docs.oasis-open.org/ws-tx/wsba/2006/06">
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06" schemaLocation="wsba.xsd"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Canceled">
    <wsdl:part name="parameters" element="wsba:Canceled">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Cancel">
    <wsdl:part name="parameters" element="wsba:Cancel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Status">
    <wsdl:part name="parameters" element="wsba:Status">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Close">
    <wsdl:part name="parameters" element="wsba:Close">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exited">
    <wsdl:part name="parameters" element="wsba:Exited">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Complete">
    <wsdl:part name="parameters" element="wsba:Complete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Failed">
    <wsdl:part name="parameters" element="wsba:Failed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Compensate">
    <wsdl:part name="parameters" element="wsba:Compensate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CannotComplete">
    <wsdl:part name="parameters" element="wsba:CannotComplete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Completed">
    <wsdl:part name="parameters" element="wsba:Completed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Closed">
    <wsdl:part name="parameters" element="wsba:Closed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Compensated">
    <wsdl:part name="parameters" element="wsba:Compensated">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exit">
    <wsdl:part name="parameters" element="wsba:Exit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fail">
    <wsdl:part name="parameters" element="wsba:Fail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatus">
    <wsdl:part name="parameters" element="wsba:GetStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotCompleted">
    <wsdl:part name="parameters" element="wsba:NotCompleted">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BusinessAgreementWithParticipantCompletionCoordinatorPortType">
    <wsdl:operation name="CompletedOperation">
      <wsdl:input message="wsba:Completed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FailOperation">
      <wsdl:input message="wsba:Fail">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompensatedOperation">
      <wsdl:input message="wsba:Compensated">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ClosedOperation">
      <wsdl:input message="wsba:Closed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CanceledOperation">
      <wsdl:input message="wsba:Canceled">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExitOperation">
      <wsdl:input message="wsba:Exit">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CannotComplete">
      <wsdl:input message="wsba:CannotComplete">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOperation">
      <wsdl:input message="wsba:GetStatus">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StatusOperation">
      <wsdl:input message="wsba:Status">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BusinessAgreementWithCoordinatorCompletionParticipantPortType">
    <wsdl:operation name="CompleteOperation">
      <wsdl:input message="wsba:Complete">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CloseOperation">
      <wsdl:input message="wsba:Close">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelOperation">
      <wsdl:input message="wsba:Cancel">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompensateOperation">
      <wsdl:input message="wsba:Compensate">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FailedOperation">
      <wsdl:input message="wsba:Failed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExitedOperation">
      <wsdl:input message="wsba:Exited">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotCompleted">
      <wsdl:input message="wsba:NotCompleted">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOperation">
      <wsdl:input message="wsba:GetStatus">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StatusOperation">
      <wsdl:input message="wsba:Status">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BusinessAgreementWithCoordinatorCompletionCoordinatorPortType">
    <wsdl:operation name="CompletedOperation">
      <wsdl:input message="wsba:Completed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FailOperation">
      <wsdl:input message="wsba:Fail">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompensatedOperation">
      <wsdl:input message="wsba:Compensated">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ClosedOperation">
      <wsdl:input message="wsba:Closed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CanceledOperation">
      <wsdl:input message="wsba:Canceled">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExitOperation">
      <wsdl:input message="wsba:Exit">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CannotComplete">
      <wsdl:input message="wsba:CannotComplete">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOperation">
      <wsdl:input message="wsba:GetStatus">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StatusOperation">
      <wsdl:input message="wsba:Status">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BusinessAgreementWithParticipantCompletionParticipantPortType">
    <wsdl:operation name="CloseOperation">
      <wsdl:input message="wsba:Close">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelOperation">
      <wsdl:input message="wsba:Cancel">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompensateOperation">
      <wsdl:input message="wsba:Compensate">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FailedOperation">
      <wsdl:input message="wsba:Failed">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExitedOperation">
      <wsdl:input message="wsba:Exited">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotCompleted">
      <wsdl:input message="wsba:NotCompleted">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOperation">
      <wsdl:input message="wsba:GetStatus">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StatusOperation">
      <wsdl:input message="wsba:Status">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
